.wrapper {
  margin-top: 5.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 6px solid rgb(165, 159, 40);
  border-bottom: 6px solid rgb(165, 159, 40);
  height: 600px;
  width: 75%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.photo {
  z-index: 10;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: white;
  width: 30rem;
  height: fit-content;
  position: fixed;
  left: 60%;
  top: 10rem;
}
.about {
  padding-top: 11rem;
  padding-left: 3rem;
  padding-right: 20rem;
}
.about p {
  text-indent: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: justify;
}
